<div id="fh5co-pricing-section"
	class="fh5co-pricing fh5co-lightgray-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="heading-section text-center ">
					<h2>Available items</h2>
					<p></p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="pricing">
				<div *ngFor="let item of items">
					<div class="price-box ">
						<h2 class="pricing-plan">{{item.name}}</h2>
						<div class="price">
							<sup class="currency"></sup>{{item.price| currency:"&#8377;"}}<small>/kg</small>
						</div>
						<p></p>
						<ul class="classes">
							<li class="color">{{item.qty}} Qty</li>
							<li >{{item.createdOn }}</li>
							<li >posted by <b>{{item.supplierName}}</b></li>
						</ul>
						<a [routerLink]="['../item',item.id ]" class="btn btn-default">Details</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

