<div class="fh5co-hero">
	<div class="fh5co-overlay"></div>
	<div class="fh5co-cover" data-stellar-background-ratio="0.5"
		style="background-image: url(assets/images/home-image.jpg);">
		<div class="desc">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h2>
							Oops! page is not availale! 
						</h2>
						<span><a class="btn btn-primary" routerLink="/">Start
								Home</a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>