<div id="fh5co-pricing-section"
	class="fh5co-pricing fh5co-lightgray-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="heading-section text-center ">
					<h2>Login</h2>
					<p></p>
					<form [formGroup]="userForm" novalidate (ngSubmit)="register(userForm)">
							<div class="row">
								<div class="row col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<span> <input class="clean-slide form-control" id="name"
										type="text" formControlName="name"
										placeholder="Name here" required /> <label for="name">Username</label>
									</span> <span> <input class="clean-slide form-control"
										id="password" type="text" formControlName="password"
										placeholder="password here" required /> <label for="password">Password</label>
									</span> 
									
								</div>
								
							</div>
							<div class="row text-center">
								<input type="submit" class="btn fill-btn"
									value="Login" />
								<button routerLink="/register" class="btn">Register?</button>
							</div>

						</form>
				</div>
			</div>
		</div>
	</div>
</div>