<div id="fh5co-pricing-section"
	class="fh5co-pricing fh5co-lightgray-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="heading-section text-center ">
					<h2>Add new item</h2>
					<p></p>
					<form [formGroup]="item" novalidate (ngSubmit)="onSave(item)">
							<div class="row">
								<div class="row col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<span> <input class="clean-slide form-control" id="name"
										type="text" formControlName="name"
										placeholder="Item name here" required /> <label for="name">Name</label>
									</span> <span> <input class="clean-slide form-control"
										id="price" type="text" formControlName="price"
										placeholder="Item price here" required /> <label for="price">Price</label>
									</span> <span> <input class="clean-slide form-control" id="qty"
										type="text" formControlName="qty"
										placeholder="Item quantity here" required /> <label
										for="price">Qty</label>
									</span>
									<fieldset formGroupName="address">
										<span> <input class="clean-slide form-control"
											id="long" type="text" formControlName="lon" ngModel
											placeholder="Longitude here" required /> <label for="lon">Lon</label>
										</span> <span> <input class="clean-slide form-control"
											id="lat" type="text" formControlName="lat" ngModel
											placeholder="Lattitude here" required /> <label for="lat">Lat</label>
										</span>
									</fieldset>
								</div>
								<div class="row col-xs-12 col-sm-6 col-md-6 col-lg-6">
									<agm-map class="add-map" [latitude]="lat" [longitude]="lon"
										(mapClick)="setLocation($event)"> <agm-marker
										[latitude]="lat" [longitude]="lon"></agm-marker> </agm-map>
								</div>
							</div>
							<div class="row text-center">
								<input class="disabled" type="submit" class="btn fill-btn"
									value="Save" />

								<button (click)="showAdd=!showAdd" class="btn">Cancel</button>
							</div>

						</form>
				</div>
			</div>
		</div>
	</div>
</div>