<div id="fh5co-header">
	<header id="fh5co-header-section">
		<div class="container">
			<div class="nav-header">
				<a routerLink="/" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
				<h1 id="fh5co-logo">
					<a>Food<span>store</span></a>
				</h1>
				<!-- START #fh5co-menu-wrap -->
				<nav id="fh5co-menu-wrap" role="navigation">
					<ul class="sf-menu" id="fh5co-primary-menu">
						<li routerLinkActive="active"><a routerLink="/">Home</a></li>
						<li routerLinkActive="active" *ngIf="username=='guest'"><a routerLink="/login">Login</a></li>
						<li (click)="logout()" *ngIf="username!='guest'"><a>Logout</a></li>
						<li routerLinkActive="active" *ngIf="username=='guest'"><a routerLink="/register">Register</a></li>
						<li routerLinkActive="active"><a routerLink="/add-item">Add</a></li>

						<li><a href="classes.html" class="fh5co-sub-ddown">Search</a>
							<ul class="fh5co-sub-menu">
								<li routerLinkActive="active"><a routerLink="/list-view">List
								view</a></li>
						<li routerLinkActive="active"><a routerLink="/map-view">Map
								View</a></li>

							</ul></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
</div>
<!-- end:fh5co-header -->
<div class="fh5co-hero" style="height: 100px">
	<div class="fh5co-overlay" style="height: 100px"></div>
	<div class="fh5co-cover" data-stellar-background-ratio="0.5"
		style="height: 100px; background-image: url(assets/images/home-image.jpg);">
	</div>
</div>
